<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FakeStoreAPISuite" verbose="1">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="ProductsAPITests">
        <classes>
            <class name="product.get.GetAllProductsTest"/>
            <class name="product.get.GetProductsLimitTest"/>
            <class name="product.get.GetProductsSortTest"/>
            <class name="product.get.GetProductsLimitEdgeCasesTest"/>
            <class name="product.get.GetProductByIdTest"/>
            <class name="product.get.GetProductByIdEdgeCasesTest"/>
            <class name="product.post.CreateProductTest"/>
            <class name="product.post.CreateProductPartialOrInvalidPayloadTest"/>
            <class name="product.post.CreateProductBoundaryAndSecurityTest"/>
            <class name="product.put.UpdateProductTest"/>
            <class name="product.put.UpdateProductPartialOrInvalidPayloadTest"/>
            <class name="product.put.UpdateProductBoundaryAndSecurityTest"/>
            <class name="product.delete.DeleteProductTest"/>
            <class name="produc.detelete.DeleteProductValidationTest"/>
        </classes>
    </test>
</suite>