<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FakeStoreAPISuite" verbose="1">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="ProductsAPITests">
        <classes>
            <class name="product.GetAllProductsTest"/>
            <class name="product.GetProductsLimitTest"/>
            <class name="product.GetProductsSortTest"/>
        </classes>
    </test>
</suite>